/ {
    // 必要なインクルードファイル
    #include <behaviors.dtsi>
    #include <dt-bindings/zmk/bt.h>
    #include <behaviors.dtsi>
    #include <dt-bindings/zmk/keys.h>

    // キーマップノード
    keymap {
        compatible = "zmk,keymap";

        // レイヤー0 (デフォルトレイヤー)
        default_layer {
            bindings = <
                &kp Q   &kp W   &kp E   // 1行目: Q W E
                &kp A   &kp S   &kp D   // 2行目: A S D
                &kp Z   &kp X   &kp C   // 3行目: Z X C
            >;
            label = "Base Layer";
        };

        // レイヤー1 (シフトレイヤー)
        shift_layer {
            bindings = <
                &kp EXCL  &kp AT    &kp HASH  // 1行目: ! @ #
                &kp DOLLAR  &kp PERC  &kp CARET // 2行目: $ % ^
                &kp AMPS    &kp STAR  &kp LPAR  // 3行目: & * (
            >;
            label = "Shift Layer";
        };
    };
};